form.ui.tiny.form input[type=text]{
    text-transform: uppercase !important
}
.table tr.visible.transition {
    display: table-row !important;
}

.tr_invalid {
    background-color: rgba(203, 67, 53 , 0.2) !important;
}

.chk_confirme_delete {
    padding-right: 20px !important;
    margin-top: 40px !important;
}
.chk_visible_send {
    display: none !important;
}