/* #shipment-list-container .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px; }
  
  #shipment-list-container .table > thead > tr > th,
  #shipment-list-container .table > thead > tr > td,
  #shipment-list-container .table > tbody > tr > th,
  #shipment-list-container .table > tbody > tr > td,
  #shipment-list-container .table > tfoot > tr > th,
  #shipment-list-container .table > tfoot > tr > td {
    border: 0;
    padding: 10px;
    font-size: 11.75px;
    font-weight: 200;
    vertical-align: top;
    line-height: 1.428571429; } */
  
  #shipment-list-container .table > thead > tr > th {
    font-size: 12px;
    font-weight: 600;
    vertical-align: bottom;
    border: 0; 
    background-color: #F2F2F2;
  }


.slink .blink{
  /* background-color: rgb(160, 160, 160); */
  padding: 2px;	
}

.slink span{
  color: green;
}

.blink span{ 
  color: #FFAB0D;
  animation: blink 2s linear infinite;
}
@keyframes blink{
0%{opacity: 0.5;}
100%{opacity: 1;}
}

.ui.compact.table td {
  padding: .5em .5em !important;
}
