body {
  background-color: rgb(255, 255, 255) !important;
}

/*timepicker style*/
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}


/*home page styles*/

.masthead {
  background-image: linear-gradient(
          135deg,
          rgb(169,3,41) 0%,
          rgb(143,2,34) 44%,
          rgb(109,0,25) 100%
  ) !important;
}

.masthead.segment {
  min-height: 700px;
  height: 100vh;
  padding: 1em 0 !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.inverted.pointing.menu {
  border: none;
}

/*end home page styles*/

/* navbar styles */

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.fixed.menu {
  background-image: linear-gradient(
          135deg,
          rgb(169,3,41) 0%,
          rgb(143,2,34) 44%,
          rgb(109,0,25) 100%
  ) !important;
}

.ui.main.container,
.main.segment {
  margin-top: 7em;
}

.ui.center.aligned.segment.attendance-preview {
  background-color: #f5f5f5;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.ui.menu .item>img:not(.ui) {
  margin-right: 1.5em !important;
}

.ui.menu:not(.vertical) .item>.button {
  margin-left: 0.5em;
}

/*chat comments*/
.ui.comments .comment .comments {
  padding-bottom: 0 !important;
  padding-left: 2em !important;
}

.ui.dimmer {
  position: fixed !important;
}

.ui.form .field.field 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus 
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: blue !important;
  border: 1px solid #fff;
  border-color: #ddd !important;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  transition:background-color 5000s ease-in-out 0s !important;
}

.content-header {
  font-size: 24px;
  text-transform: uppercase
}

/* .ui.basic.label {
  border: none !important;
} */

